@import "compass";
.play{
	display:none;
}
.playmode{
	box-sizing: border-box;
	font-size: 1.5rem;
	text-align: center;
	&:nth-child(1), &:nth-child(3){
		padding: 1rem;
		border: 2px solid white;
		border-radius: 10px;
	}
}
.answer{
	color: black;
	font-size: 3.5rem;
	text-shadow: 1px 1px 1px white;
	&:active{
		margin-top: 4.2rem;
	}
}


.correct-picked{
	color: white;
	background: lighten(green, 15%);
	text-shadow: 2px 2px 2px lighten(black, 10%);
}
.correct-notpicked{
	background: grey;
	color: green;
}

.wrong-picked{
	background: red;
}

.wrong-notpicked{
	background: grey;
	color: grey;
	text-shadow:none;
}

.bonus{
	display:none;
	width: 150px;
	position: absolute;
	top: -7rem;
	right:3rem;
	animation:cloud 3s;
	-webkit-animation:cloud 3s; /* Safari and Chrome */
	}

@keyframes cloud
{
0%   {}
25%  {width: 250px;}
50%  {width: 150px}
75%  {width: 250px;}
100% {width:150px;}
}
@-webkit-keyframes cloud
{
0%   {}
25%  {width: 250px;}
50%  {width: 150px}
75%  {width: 250px;}
100% {width:150px;}
}
