
.playmode{
	box-sizing: border-box;
	font-size: 1.5rem;
	text-align: center;
	&:nth-child(1), &:nth-child(3){
		padding: 1rem;
		border: 2px solid white;
		border-radius: 10px;
	}
}
.answer{
	color: black;
	font-size: 3.5rem;
	text-shadow: 1px 1px 1px white;
	&:active{
		margin-top: 4.2rem;
	}
}

.correct-picked{
	color: green;
}
.correct-notpicked{
	background: grey;
	color: green;
}

.wrong-picked{
	background: red;
}

.wrong-notpicked{
	background: grey;
	color: grey;
	text-shadow:none;
}